%canvas#myChart{height: "200", width: "870", style:'margin-left: -14px;'}
.chart-keys
:javascript

  var ajax_data = #{Team::GoldPerMinuteGames.new(@team).call.to_json}

  var colors = [
    [0, 102, 153],[66, 139, 202],[93, 166, 189],[158, 196, 217],[238, 238, 238],
    [0, 153, 148],[55, 124, 139],[56, 74, 141],[105, 36, 141],[118, 55, 80],
    [0, 102, 153],[66, 139, 202],[93, 166, 189],[158, 196, 217],[238, 238, 238],
    [0, 153, 148],[55, 124, 139],[56, 74, 141],[105, 36, 141],[118, 55, 80]
    ]
  ,   datasets = []

  $.each(ajax_data, function(i,obj){
    var ds = {
      fillColor : "rgba("+colors[i][0]+", "+colors[i][1]+", "+colors[i][2]+", 0.2)",
      strokeColor : "rgba("+colors[i][0]+", "+colors[i][1]+", "+colors[i][2]+", 0.8)",
      pointColor : "rgba("+colors[i][0]+", "+colors[i][1]+", "+colors[i][2]+", 1)",
      pointStrokeColor : "#fff",
      data : obj.games
    }
    datasets.push(ds)
    $('.chart-keys').append('<div class="key"><div class="dot" style="background:rgba('+colors[i][0]+', '+colors[i][1]+', '+colors[i][2]+', 1);"></div>'+obj.summoner+'</div>')
  })

  var data = {
      labels    : ["Game 1","Game 2","Game 3","Game 4","Game 5","Game 6","Game 7","Game 8","Game 9","Game 10"],
      datasets  : datasets
  }

  var options = {

    //Boolean - If we show the scale above the chart data
    scaleOverlay : false,

    //Boolean - If we want to override with a hard coded scale
    scaleOverride : false,

    //** Required if scaleOverride is true **
    //Number - The number of steps in a hard coded scale
    scaleSteps : null,
    //Number - The value jump in the hard coded scale
    scaleStepWidth : null,
    //Number - The scale starting value
    scaleStartValue : null,

    //String - Colour of the scale line
    scaleLineColor : "rgba(78, 93, 108, 0.5)",

    //Number - Pixel width of the scale line
    scaleLineWidth : 1,

    //Boolean - Whether to show labels on the scale
    scaleShowLabels : true,

    //Interpolated JS string - can access value
    scaleLabel : "<%=value%>",

    //String - Scale label font declaration for the scale label
    scaleFontFamily : "'Arial'",

    //Number - Scale label font size in pixels
    scaleFontSize : 9,

    //String - Scale label font weight style
    scaleFontStyle : "normal",

    //String - Scale label font colour
    scaleFontColor : "rgba(255,255,255,0.7)",

    ///Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines : true,

    //String - Colour of the grid lines
    scaleGridLineColor : "rgba(78, 93, 108, 0.5)",

    //Number - Width of the grid lines
    scaleGridLineWidth : 1,

    //Boolean - Whether the line is curved between points
    bezierCurve : true,

    //Boolean - Whether to show a dot for each point
    pointDot : true,

    //Number - Radius of each point dot in pixels
    pointDotRadius : 3,

    //Number - Pixel width of point dot stroke
    pointDotStrokeWidth : 1,

    //Boolean - Whether to show a stroke for datasets
    datasetStroke : true,

    //Number - Pixel width of dataset stroke
    datasetStrokeWidth : 2,

    //Boolean - Whether to fill the dataset with a colour
    datasetFill : true,

  }
  var ctx = document.getElementById("myChart").getContext("2d");
  new Chart(ctx).Line(data,options);


