.container.page-top-pad
  .page-header
    %h1 Create New Team
  %p
    Just fill out the information below and hit save. Your team will be created anf you will be redirected to your new
    teams home page. Once on your teams home page you will be able to add summoners. Just click on the summoner roster
    link toward the upper right on the new teams home page.

  = render 'edit'