= form_for @membership do |f|
  .row
    .col-lg-6
      %fieldset
        .form-group
          %label.col-lg-3.control-label Summoner
          .col-lg-9
            = f.text_field :summoner_name, class: 'form-control'
        .form-group
          %label.col-lg-3.control-label Role
          .col-lg-9
            = f.select :role_id, options_for_select(Role.all.pluck(:name,:id)), {}, class: 'form-control'
        .form-group
          = f.submit 'Save', class: 'btn btn-primary save-membership'
