%option Aatrox
%option Ahri
%option Akali
%option Alistar
%option Amumu
%option Anivia
%option Annie
%option Ashe
%option Blitzcrank
%option Brand
%option Caitlyn
%option Cassiopeia
%option Cho'Gath
%option Corki
%option Darius
%option Diana
%option Dr. Mundo
%option Draven
%option Elise
%option Evelynn
%option Ezreal
%option Fiddlesticks
%option Fiora
%option Fizz
%option Galio
%option Gangplank
%option Garen
%option Gragas
%option Graves
%option Hecarim
%option Heimerdinger
%option Irelia
%option Janna
%option Jax
%option Jayce
%option Jinx
%option Karma
%option Karthus
%option Kassadin
%option Katarina
%option Kayle
%option Kennen
%option Kha'Zix
%option Kog'Maw
%option LeBlanc
%option Leona
%option Lissandra
%option Lucian
%option Lulu
%option Lux
%option Malphite