.container.page-top-pad
  .row
    .col-lg-6
      %h2 Skills
      = render partial: 'form', locals:{ skill: Skill.new }
      %br
      %br


  = render partial: 'skill', collection: @skills, as: :skill
