%tr
  %td
    = image_tag 'dummy_avatar.png', style:'height:20px; display:inline-block; margin-right:3px;'
    potterbaum
  %td Las Vegas NV
  %td 2
  %td 2
  %td 2
  %td 2
  %td support
  %td{style:'width:200px'}
    .progress
      .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", role: "progressbar", style: "width: 80%"}
        %span.sr-only 80% Complete
  %td
    %i.fa.fa-plus.has-tooltip{style:'color:#5cb85c', 'data-placement' => 'top', 'data-toggle' => 'tooltip', title: 'Request Comrade'}
  %td
    %i.fa.fa-minus-circle.has-tooltip{style:'color:#d9534f', 'data-placement' => 'top', 'data-toggle' => 'tooltip', title: 'Mark Foe'}
