.container.page-top-pad
  .row
    .col-lg-12
      %br
      %br
      - participants = ['echo123','benjamin.falk']
      %a.skype-button{:href => "skype:#{participants.join(';')}?call&topic=Team%20Call"}
        %img{src:'assets/skype.png'}
        Start Group Call



