.container.page-top-pad
  .page-header
    %h1 Summoner Profile Details
  %p
    Nullam quis risus eget
    %a{:href => "#"} urna mollis ornare
    vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
    vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

  .row.page-top-pad
    .col-lg-6
      .row
        .col-lg-3
          %i.fa.fa-user{style:'font-size:5em;'}
        .col-lg-9
          %h1 POTTERBAUM
      %form.form-horizontal.page-top-pad

        %fieldset
          %legend Game Play
          .form-group
            %label.col-lg-3.control-label Play Style
            .col-lg-9
              %label.radio-inline
                %input{:checked => "", :name => "optionsRadios", :type => "radio", :value => "option1"}
                  Competitive
              %label.radio-inline
                %input{:name => "optionsRadios", :type => "radio", :value => "option2"}
                  Casual
          .form-group
            %label.col-lg-3.control-label{:for => "select"} Favorite Champs
            .col-lg-3
              %select#select.form-control
                %option Some Camp
            .col-lg-3
              %select#select.form-control
                %option Some Camp
            .col-lg-3
              %select#select.form-control
                %option Some Camp

          .form-group
            %label.col-lg-3.control-label{:for => "select"} Roles
            .col-lg-9
              %label.checkbox-inline
                %input#inlineCheckbox1{:type => "checkbox", :value => "option1"}
                  Jungle
              %label.checkbox-inline
                %input#inlineCheckbox2{:type => "checkbox", :value => "option2"}
                  Support
              %label.checkbox-inline
                %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
                  Mid
              %label.checkbox-inline
                %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
                  Top
              %label.checkbox-inline
                %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
                  AD Cary
          .form-group
            %label.col-lg-3.control-label{:for => "select"} Convenient Gaming Times
            .col-lg-9
              %select#select.form-control
                %option Nights and weekends
                %option Ally day everyday
                %option weekends only
                %option daytime only


          %legend Personal
          .form-group
            %label.col-lg-3.control-label{:for => "inputEmail"} First Name
            .col-lg-9
              %input#inputEmail.form-control{:placeholder => "Email", :type => "text"}
          .form-group
            %label.col-lg-3.control-label{:for => "inputEmail"} Last Name
            .col-lg-9
              %input#inputEmail.form-control{:placeholder => "Email", :type => "text"}
          .form-group
            %label.col-lg-3.control-label{:for => "inputEmail"} Email
            .col-lg-9
              %input#inputEmail.form-control{:placeholder => "Email", :type => "text"}
          .form-group
            %label.col-lg-3.control-label{:for => "textArea"} Just a little about yourself
            .col-lg-9
              %textarea#textArea.form-control{:rows => "3"}
              %span.help-block A longer block of help text that breaks onto a new line and may extend beyond one line.
          .form-group
            %label.col-lg-3.control-label{:for => "select"} Time Zone
            .col-lg-9
              %select#select.form-control
                %option Nights and weekends
                %option Ally day everyday
                %option weekends only
                %option daytime only
          .form-group
            %label.col-lg-3.control-label{:for => "inputEmail"} Password
            .col-lg-9
              %input#inputEmail.form-control{:placeholder => "Password", :type => "password"}
          .form-group
            %label.col-lg-3.control-label{:for => "inputEmail"} Confirm Password
            .col-lg-9
              %input#inputEmail.form-control{:placeholder => "Password", :type => "password"}


          %legend Verification
          .form-group
            %label.col-lg-3.control-label masterie name code
            .col-lg-9
              %h3{style:'margin-top: 3px;'} 455434h5jd43j2434kr
          %p
            To verify your account just create a new masteries page and name it the code above.
            When you hit "Verify and Save" we will go and look for a masteries page with the name
            matching the code above. Make sure you name the masteries the code and only the code no
            extra letters or numbers just the code.
          .form-group

            %button.btn.btn-default.col-lg-3 Cancel
            .col-lg-3
            .col-lg-3
            %button.btn.btn-primary.col-lg-3{:type => "submit"} Verify and Save

    .col-lg-4.col-lg-offset-1
      %h3 Summoner Stats
      %ul.list-group
        %li.list-group-item
          %span.badge 14
          Cras justo odio
        %li.list-group-item
          %span.badge 2
          Dapibus ac facilisis in
        %li.list-group-item
          %span.badge 1
          Morbi leo risus
        %li.list-group-item
          %span.badge 14
          Cras justo odio
        %li.list-group-item
          %span.badge 2
          Dapibus ac facilisis in
        %li.list-group-item
          %span.badge 1
          Morbi leo risus
        %li.list-group-item
          %span.badge 14
          Cras justo odio
        %li.list-group-item
          %span.badge 2
          Dapibus ac facilisis in
        %li.list-group-item
          %span.badge 1
          Morbi leo risus
        %li.list-group-item
          %span.badge 14
          Cras justo odio
        %li.list-group-item
          %span.badge 2
          Dapibus ac facilisis in
        %li.list-group-item
          %span.badge 1
          Morbi leo risus


      %h3 Game Stats
      %ul.list-group
        %li.list-group-item
          %span.badge 14
          Cras justo odio
        %li.list-group-item
          %span.badge 2
          Dapibus ac facilisis in
        %li.list-group-item
          %span.badge 1
          Morbi leo risus
        %li.list-group-item
          %span.badge 14
          Cras justo odio
        %li.list-group-item
          %span.badge 2
          Dapibus ac facilisis in
        %li.list-group-item
          %span.badge 1
          Morbi leo risus
        %li.list-group-item
          %span.badge 14
          Cras justo odio
        %li.list-group-item
          %span.badge 2
          Dapibus ac facilisis in
        %li.list-group-item
          %span.badge 1
          Morbi leo risus
        %li.list-group-item
          %span.badge 14
          Cras justo odio
        %li.list-group-item
          %span.badge 2
          Dapibus ac facilisis in
        %li.list-group-item
          %span.badge 1
          Morbi leo risus


