.container.page-top-pad
  .row.page-top-pad
    .col-lg-3
      %legend Team Com
      - participants = ['echo123','benjamin.falk','changingworld358']
      %a.skype-button{:href => "skype:#{participants.join(';')}?call&topic=Team%20Call", title:" Conference: #{participants.join(', ')}", 'data-placement'=>"top"}
        %img{src:'assets/skype.png'}
        Start Group Call
      :javascript
        $('.skype-button').tooltip()

      %hr

      %form.form-inline{role: 'form'}
        .form-group
          %input.form-control{placeholder: 'Message', type: 'text'}
        %button.btn.btn-default.chat-post{type: 'submit'} Post
      .activity
        .note
          .from potterbaum
          .message This is a note from someone. About the last game we played it was truly EPIC!!! Did you guys see that tipple kill? This is a note from someone. About the last game we played it was truly EPIC!!! Did you guys see that tipple kill? This is a note from someone. About the last game we played it was truly EPIC!!! Did you guys see that tipple kill?
        .note
          .system
            .row
              .col-lg-7
                Potterbaum joined team
              .col-lg-5
                Jun 8 3:24 PM
        .note
          .from potterbaum
          .message This is a note from someone. About the last game we played it was truly EPIC!!! Did you guys see that tipple kill?
        .note
          .from potterbaum
          .message This is a note from someone. About the last game we played it was truly EPIC!!! Did you guys see that tipple kill?
        .note
          .system
            .row
              .col-lg-7
                Potterbaum joined team
              .col-lg-5
                Jun 8 3:24 PM



        .note
          .from potterbaum
          .message This is a note from someone. About the last game we played it was truly EPIC!!! Did you guys see that tipple kill?
        .note
          .from potterbaum
          .message This is a note from someone. About the last game we played it was truly EPIC!!! Did you guys see that tipple kill?


        .note
          .system.lost
            .row
              .col-lg-2
                LOST
              .col-lg-3
                7 - 15
              .col-lg-2
                23:21
              .col-lg-5
                Jun 8 3:24 PM
        .note
          .system.win
            .row
              .col-lg-2
                WON
              .col-lg-3
                7 - 15
              .col-lg-2
                23:21
              .col-lg-5
                Jun 8 3:24 PM
        .note
          .system.win
            .row
              .col-lg-2
                WON
              .col-lg-3
                7 - 15
              .col-lg-2
                23:21
              .col-lg-5
                Jun 8 3:24 PM
        .note
          .system.win
            .row
              .col-lg-2
                WON
              .col-lg-3
                7 - 15
              .col-lg-2
                23:21
              .col-lg-5
                Jun 8 3:24 PM
        .note
          .from potterbaum
          .message This is a note from someone. About the last game we played it was truly EPIC!!! Did you guys see that tipple kill?
        .note
          .from potterbaum
          .message This is a note from someone. About the last game we played it was truly EPIC!!! Did you guys see that tipple kill?

        .note
          .time Wed Jun 8th 3:24 PM

        .note
          .from potterbaum
          .message This is a note from someone. About the last game we played it was truly EPIC!!! Did you guys see that tipple kill?




    .col-lg-9
      %legend
        %a.btn.pull-right Edit
        Team LastHit

      %table.table
        %thead
          %tr
            %th Team Roster
            %th Name
            %th Location
            %th
            %th KDA
            %th Role
            %th Skill
        %tbody
          %tr
            %td potterbaum
            %td Brad Potterbaum
            %td Las Vegas NV
            %td Team Captain
            %td 2
            %td support
            %td{style:'width:200px'}
              .progress
                .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", role: "progressbar", style: "width: 80%"}
                  %span.sr-only 80% Complete

          %tr
            %td potterbaum
            %td Brad Potterbaum

            %td Las Vegas NV
            %td
            %td 2
            %td support
            %td{style:'width:200px'}
              .progress
                .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", role: "progressbar", style: "width: 90%"}
                  %span.sr-only 90% Complete
          %tr
            %td potterbaum
            %td Brad Potterbaum

            %td Las Vegas NV
            %td
            %td 2
            %td support
            %td{style:'width:200px'}
              .progress
                .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "75", role: "progressbar", style: "width: 75%"}
                  %span.sr-only 750% Complete
          %tr
            %td potterbaum
            %td Brad Potterbaum

            %td Las Vegas NV
            %td
            %td 2
            %td support
            %td{style:'width:200px'}
              .progress
                .progress-bar.progress-bar-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "50", role: "progressbar", style: "width: 50%"}
                  %span.sr-only 50% Complete
          %tr
            %td potterbaum
            %td Brad Potterbaum

            %td Las Vegas NV
            %td
            %td 2
            %td support
            %td{style:'width:200px'}
              .progress
                .progress-bar.progress-bar-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", role: "progressbar", style: "width: 20%"}
                  %span.sr-only 20% Complete


      .row
        .col-lg-12
          %canvas#myChart{height: "200", width: "870", style:'margin-left: -14px;'}
          :javascript
            var data = {
            	labels : ["Game 1","Game 2","Game 3","Game 4","Game 5","Game 6","Game 7","Game 8","Game 9","Game 10"],
            	datasets : [
            		{
            			fillColor : "rgba(0, 102, 153, 0.2)",
            			strokeColor : "rgba(0, 102, 153, 0.8)",
            			pointColor : "rgba(0, 102, 153, 1)",
            			pointStrokeColor : "#fff",
            			data : [65,59,90,81,56,55,40,40,40,40]
            		},
            		{
            			fillColor : "rgba(66, 139, 202, 0.2)",
            			strokeColor : "rgba(66, 139, 202, 0.8)",
            			pointColor : "rgba(66, 139, 202, 1)",
            			pointStrokeColor : "#fff",
            			data : [28,48,40,19,96,27,100,40,40,40]
            		},
            		{
            			fillColor : "rgba(93, 166, 189, 0.2)",
            			strokeColor : "rgba(93, 166, 189, 0.8)",
            			pointColor : "rgba(93, 166, 189, 1)",
            			pointStrokeColor : "#fff",
            			data : [45,59,60,41,56,95,20,40,40,40]
            		},
            		{
            			fillColor : "rgba(158, 196, 217, 0.2)",
            			strokeColor : "rgba(158, 196, 217, 0.8)",
            			pointColor : "rgba(158, 196, 217, 1)",
            			pointStrokeColor : "#fff",
            			data : [23,41,30,42,57,41,60,40,40,40]
            		},
            		{
            			fillColor : "rgba(238, 238, 238, 0.2)",
            			strokeColor : "rgba(238, 238, 238, 0.8)",
            			pointColor : "rgba(238, 238, 238, 1)",
            			pointStrokeColor : "#fff",
            			data : [75,29,50,71,56,85,40,40,40,40]
            		}
            	]
            }
            var options = {

              //Boolean - If we show the scale above the chart data
              scaleOverlay : false,

              //Boolean - If we want to override with a hard coded scale
              scaleOverride : false,

              //** Required if scaleOverride is true **
              //Number - The number of steps in a hard coded scale
              scaleSteps : null,
              //Number - The value jump in the hard coded scale
              scaleStepWidth : null,
              //Number - The scale starting value
              scaleStartValue : null,

              //String - Colour of the scale line
              scaleLineColor : "rgba(78, 93, 108, 0.5)",

              //Number - Pixel width of the scale line
              scaleLineWidth : 1,

              //Boolean - Whether to show labels on the scale
              scaleShowLabels : true,

              //Interpolated JS string - can access value
              scaleLabel : "<%=value%>",

              //String - Scale label font declaration for the scale label
              scaleFontFamily : "'Arial'",

              //Number - Scale label font size in pixels
              scaleFontSize : 9,

              //String - Scale label font weight style
              scaleFontStyle : "normal",

              //String - Scale label font colour
              scaleFontColor : "rgba(255,255,255,0.7)",

              ///Boolean - Whether grid lines are shown across the chart
              scaleShowGridLines : true,

              //String - Colour of the grid lines
              scaleGridLineColor : "rgba(78, 93, 108, 0.5)",

              //Number - Width of the grid lines
              scaleGridLineWidth : 1,

              //Boolean - Whether the line is curved between points
              bezierCurve : true,

              //Boolean - Whether to show a dot for each point
              pointDot : true,

              //Number - Radius of each point dot in pixels
              pointDotRadius : 3,

              //Number - Pixel width of point dot stroke
              pointDotStrokeWidth : 1,

              //Boolean - Whether to show a stroke for datasets
              datasetStroke : true,

              //Number - Pixel width of dataset stroke
              datasetStrokeWidth : 2,

              //Boolean - Whether to fill the dataset with a colour
              datasetFill : true,

            }
            var ctx = document.getElementById("myChart").getContext("2d");
            new Chart(ctx).Line(data,options);

          .chart-keys
            - @hash = ['rgba(0, 102, 153, 1)','rgba(66, 139, 202, 1)','rgba(93, 166, 189, 1)','rgba(158, 196, 217, 1)','rgba(238, 238, 238, 1)']
            - @hash.each do |v|
              .key
                .dot{style:"background:#{v};"}
                potterbaum




      %br
      %br
      %legend
        Match History
      - @hash = [1,2,3,4,5]
      - @hash.each do |k, v|
        = render 'team'

      :javascript
        $('.has-tooltip').tooltip()


      .row
        .col-lg-12
          .load-more
            %a Load More

















