.mast-head {
  margin-top: 62px;
  background-image: image-url("teamBG.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 570px;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  .mast-title {
    font-size: 5.1em;
    text-transform: uppercase;
    padding: 100px 0 10px;
    font-weight: 400;
    text-shadow: 2px 2px 15px #000;
  }
  .mast-sub-title {
    font-size: 1.7em;
    text-transform: uppercase;
    padding: 0 0 20px;
    font-weight: 400;
    text-shadow: 2px 2px 13px #000;
  }
  .summoner-enter {
    display: inline-block;
    .small-text {
      text-align: left;
      font-size: 0.7em;
    }
  }
  .summoner-name {
    border: none;
    padding: 16px;
    color: #2b3e50;
    font-weight: 200;
    font-size: 1.7em;
    display: block;
    float: left;
    width: 400px;
  }
  .summoner-init {
    position: relative;
  }
  .summoner-region-wrap {
    display: inline-block;
    position: absolute;
    right: 123px;
  }
  .customSelect {
    /* This is the default class that is used */
    /* Put whatever custom styles you want here */
    border: none;
    padding: 16px 0;
    color: #5b687c;
    font-weight: 200;
    font-size: 1.7em;
    display: block;
    width: 74px;
    display: block;
    text-align: center;

  }
  .customSelect.customSelectHover {
    background: #f4efe4;
  }
  .summoner-submit {
    padding: 15px 30px;
    font-size: 1.7em;
    display: block;
    float: right;
  }
  .member-numbers {
    padding-top: 50px;
    font-size: 1.4em;
    text-shadow: 0px 0px 10px #000;
  }

}

.marketing {
  margin-top: 50px;
  .jumbotron {
    p {
      font-size: 1em;
    }
    margin-bottom: 80px;
  }
}
.large-icon {
  text-align: center;
  i {
    font-size: 4em;
    padding-bottom: 20px;
  }
}
.featurette-divider {
  margin: 70px 0 40px;
}

.page-top-pad {
  padding-top: 40px;
}



.mastery-code {
  text-transform: uppercase;
}


.profile-pic-square {
  text-align: center;
  padding: 10px 0;
  border: 1px dashed #fff;
  border-radius: 10px;

  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
  height: 114px;
  width: 114px;
  overflow: hidden;
}
.profile-pic-square-with-pic{
  border-radius: 10px;
  height: 114px;
  overflow: hidden;
  width: 114px;
  img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
  }
}

.summoner-picker-old {
  padding: 20px;
  font-size: 20px !important;
  color: #333;
  border: 1px solid #fff;
  display:block;
  width: 85px;
  text-align:center;
  &:hover{
    cursor: pointer;
  }

}


.summoner-picker {

  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  padding: 20px;
  font-size: 0;
  color: rgba(255, 255, 255, 0.38);
  border: 1px solid #fff;
  display:block;
  width: 85px;
  text-align:center;
  &:hover{
    cursor: pointer;
  }
  :after {
    content: "\f067";
    font-size: 40px;
  }
}

//span.summoner-picker {
//
//}



.field_with_errors {
  input{
    border-color: #f00;
  }

}

.num {
  color: #df691a;
}




.progress {
  margin-bottom: 0;
  margin-top: 3px;
  height: 13px;
}

.karma {
  i {
    color: #df691a;
  }
  .val {
    display: inline-block;
    padding-left: 10px;
    color: #999;
  }
}


.match {
  margin-bottom: 50px;
}



.lolr {
  text-align: center;
  padding: 50px 0;
  border: 1px dashed #fff;
  border-radius: 10px;
}







.load-more {
  display: block;
  text-align: center;
  padding-bottom: 80px;
}















.fileupload {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.fileupload input {
  position: absolute;
  top: 0;
  right: 0; /* not left, because only the right part of the input seems to
                 be clickable in some browser I can't remember */
  cursor: pointer;
  opacity: 0.0;
  filter: alpha(opacity=0); /* and all the other old opacity stuff you
                                 want to support */
  font-size: 300px; /* wtf, but apparently the most reliable way to make
                         a large part of the input clickable in most browsers */
  height: 200px;
}

















.activity {
  text-align: left;

}

.note {
  padding: 15px 0 0;
  .from {
    color: #df691a;
    font-size: 9px;
    text-align: left;
  }
  .time {
    color: #909fa9;
    font-size: 9px;
    text-align: center;
  }
  .message {
    font-size: 0.8em;
  }
  .system {
    font-size: 10px;
    color: #f0ad4e;
  }
  .lost {
    color: #d9534f;
  }
  .win {
    color: #5cb85c;
  }
}


.win {
  color: #f0ad4e;
}


.skype-button {
  display: block;
  padding: 5px 0 3px 6px;
  border: 1px solid rgba(0,0,0, 0);
  background-color: #4e5d6c;
  img {
    width: 40px;
    display: inline-block;
    margin-right: 10px;
    margin-top: -2px;
  }
  font-size: 1.3em;
  overflow: hidden;
  &:hover {
    text-decoration: none;
    border: 1px solid rgba(255,255,255, 0.5);
  }

}


.chat-post {
  width: 52px;
  padding: 9px 0;
}

.chart-keys {
  float: right;
  .key {
    display: inline-block;
    padding: 0 0 0 15px;
    font-size: 0.8em;
    .dot {
      display: inline-block;
      margin: 0 3px -3px 0;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}




.save-team {
  display: inline-block;
  padding: 9px 38px;
  margin: 14px 0 0 63px;
}



.map-sr {
  width: 1200px;
  height: 1100px;
  background: image-url('map_sr.jpg');
}







.teams-table{
  tbody {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }
  td {
    font-size: 1.3em;

    img {
      width: 36px;
    }
  }
}




.profile-row {
  img {
    width: 141px;
  }
  small {
    color: #919aa8;;
  }
  h3 {
    margin: 7px 0 22px;
  }
}



.bio {
  font-size: 0.9em;
}


.overview-user-info {
  padding-left: 25px;
  h2 {
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 0;
  }
}

.right-Well {
  background-color: #414F5F;
  padding-left: 35px;
}

.dark-bg {
  background-color: #4e5d6c;
}

.pad {
  padding: 20px 0 20px 5px;
}


.champ-list-short {
  img {
    height: 60px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
  }
}

img.champ {
  height: 40px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
}
